@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trash Collector</h1>
    <p class="lead">Enter your information to see availability, get your rates, and start receiving pick-ups.</p>
    <p><a href="http://localhost:22793/Account/Register" class="btn btn-primary btn-lg">Create An Account &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sign in as an Admin</h2>
        <p>
            Enter your username and password here to add an employee, update their information, access or update customer information and more.
        </p>
        <p><a class="btn btn-default" href="http://localhost:22793/Employees/SignIn">Sign In &raquo;</a></p>//redirect to admin sign-in page you create, which takes them to an options page with Create Employee, Add Customer to Route,
    </div>
    
</div>