
@{
    ViewBag.Title = "NotAnEmployee";
}

<h2>Not An Employee</h2>

<p>Sorry, you are not an employee and do not have access to this section.  @Html.ActionLink("Click Here", "MyPickUp") to continue.</p>